{% extends 'layout.html' %}

{% block content %}

	<ul style="list-style-type:none;">
	  	 <h3>Adverbs</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'RB' %}
	         <li>{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
       <ul style="list-style-type:none;">
	  	 <h3>Comparatives</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'RBR' %}
	         <li>{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        <ul style="list-style-type:none;">
	  	 <h3>Superaltives</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'RBS' %}
	         <li>{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        

{% endblock %}