{% extends 'layout.html' %}

{% block content %}
	<ul style="list-style-type:none;">
	  	 <h3>Noun Sing</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'NN' %}
	         <li>{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
       <ul style="list-style-type:none;">
	  	 <h3>Noun Plural</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'NNS' %}
	         <li>{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        <ul style="list-style-type:none;">
	  	 <h3>Proper Noun Sing</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'NNP' %}
	         <li>{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        <ul style="list-style-type:none;">
	  	 <h3>Proper Noun Plural</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'NNPS' %}
	         <li>{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        
{% endblock %}