{% extends 'layout.html' %}

{% block content %}
	<ul class="list-group">
	  	 <h3>Noun Sing</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'NN' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
       <ul class="list-group">
	  	 <h3>Noun Plural</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'NNS' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        <ul class="list-group">
	  	 <h3>Proper Noun Sing</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'NNP' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        <ul class="list-group">
	  	 <h3>Proper Noun Plural</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'NNPS' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        
{% endblock %}