{% extends 'layout.html' %}

{% block content %}

		<ul class="list-group">
			<h3>Determiners</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'DET' %}
	           
	           <li class="list-group-item">{{w[0]}}</li>
	          {% endif %}
	     {% endfor %}
       </ul>
       <ul class="list-group">
       	     <h3>Nouns</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'NOUN' %}
	           <li class="list-group-item">{{w[0]}}</li>
	         {% endif %}
     
	     {% endfor %}
       </ul>
       <ul class="list-group">
       	     <h3>Verbs</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'VERB' %}
	           <li class="list-group-item">{{w[0]}}</li>
	         {% endif %}
     
	     {% endfor %}
       </ul>
       <ul class="list-group">
       	     <h3>Adjectives</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'ADJ' %}
	           <li class="list-group-item">{{w[0]}}</li>
	         {% endif %}
     
	     {% endfor %}
       </ul>
       <ul class="list-group">
       	     <h3>Adverbs</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'ADV' %}
	           <li class="list-group-item">{{w[0]}}</li>
	         {% endif %}
     
	     {% endfor %}
       </ul>
       <ul class="list-group">
       	     <h3>Prepositions</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'ADP' %}
	           <li class="list-group-item">{{w[0]}}</li>
	         {% endif %}
     
	     {% endfor %}
       </ul>
       <ul class="list-group">
       	     <h3>Pronouns</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'PRON' %}
	           <li class="list-group-item">{{w[0]}}</li>
	         {% endif %}
     
	     {% endfor %}
       </ul>
       <ul class="list-group">
       	     <h3>Conjunctions</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'CONJ' %}
	           <li class="list-group-item">{{w[0]}}</li>
	         {% endif %}
     
	     {% endfor %}
       </ul>
       <ul class="list-group">
       	     <h3>Interjection</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'X' %}
	           <li class="list-group-item">{{w[0]}}</li>
	         {% endif %}
     
	     {% endfor %}
       </ul>

{% endblock %}