{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron text-center">
  {% if 'user' in session %}
     <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    </p>
    <a href="{{ url_for('post.all_posts') }}" class="btn btn-primary">Post App</a>
      <a href="{{ url_for('tree.sentences') }}" class="btn btn-primary">Tree App</a>
  {% else %}
      <h1>Home Page</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      </p>
      <a href="{{ url_for('user.register') }}" class="btn btn-primary">Sign Up</a>
      <a href="{{ url_for('user.login') }}" class="btn btn-primary">Login</a>
      
      
  {% endif %}
 
  
</div>
 

{%  endblock %}