{% extends 'layout.html' %}

{% block content %}
	<img src="{{ url_for('static', filename='/images/{{post.image}}')}}">
	<h1>{{ post.title }}</h1>
	<a href="{{ url_for('post.update_post', post_id=post.id)}}" class="btn">Update</a>
	<a href="{{ url_for('post.delete_post', post_id=post.id)}}" class="btn">Delete</a>
	<br>
	<p>{{ post.content }}</p>
	<br>
	
	<a href="{{ url_for('post.sents', post_id=post.id) }}" class="btn">Sentences</a>
	<a href="{{ url_for('post.words', post_id=post.id)}}" class="btn">Words</a>
    <a href="{{ url_for('post.determiners', post_id=post.id) }}" class="btn">Determiners</a>
	<a href="{{ url_for('post.nouns', post_id=post.id) }}" class="btn">Nouns</a>
	<a href="{{ url_for('post.get_verbs', post_id=post.id) }}" class="btn">Verbs</a>
	<a href="{{ url_for('post.adjectives', post_id=post.id) }}" class="btn">Adjectives</a>
    <a href="{{ url_for('post.adverbs', post_id=post.id) }}" class="btn">Adverbs</a>
	<a href="{{ url_for('post.synsets', post_id=post.id) }}" class="btn">Synonyms and Definitions</a>

   
   

{% endblock %}