{% extends 'layout.html' %}

{% block content %}
   <div class="text-center">
	<!-- <img src="{{ url_for('static', filename='/images/{{post.image}}')}}"> -->
	<h1>{{ post.title }}</h1>
	<a href="{{ url_for('post.update_post', post_id=post.id)}}" class="btn btn-success">Update</a>
	<a href="{{ url_for('post.delete_post', post_id=post.id)}}" class="btn btn-danger">Delete</a>
   </div>
	<br>
	<p class="content">{{ post.content }}</p>
	<br>
	<div class="text-center">
	<a href="{{ url_for('post.sents', post_id=post.id) }}" class="btn btn-primary">Sentences</a>
	<a href="{{ url_for('post.words', post_id=post.id)}}" class="btn btn-primary">Words</a>
    <a href="{{ url_for('post.determiners', post_id=post.id) }}" class="btn btn-primary">Determiners</a>
	<a href="{{ url_for('post.nouns', post_id=post.id) }}" class="btn btn-primary">Nouns</a>
	<a href="{{ url_for('post.get_verbs', post_id=post.id) }}" class="btn btn-primary">Verbs</a>
	<a href="{{ url_for('post.adjectives', post_id=post.id) }}" class="btn btn-primary">Adjectives</a>
    <a href="{{ url_for('post.adverbs', post_id=post.id) }}" class="btn btn-primary">Adverbs</a>
	<a href="{{ url_for('post.synsets', post_id=post.id) }}" class="btn btn-primary">Synonyms and Definitions</a>
    </div>
    <form>
    	<input type="text" name="todo" placeholder="Add Todo">
    	<input type="submit" value="Add">
    </form>
    <ul>
    	{for todo in todos }
    	   <li>{{ todo }}</li>
    	{endfor }
    </ul>
   
   

{% endblock %}