{% extends 'layout.html' %}

{% block content %}
  <div class="jumbotron text-center">
 	<h3>A List of Adjectives in a post</h3>
 </div>
  <div class="row">
  	<div class="col-sm-4">
  		<ul class="list-group">
  			<h3>Adjectives</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'JJ' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
  		</ul>
  		
  	</div>
  	<div class="col-sm-4">
  		<ul class="list-group">
  			 <h3>Comparatives</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'JJR' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
  		</ul>
  		
  	</div>
  	<div class="col-sm-4">
  		<ul class="list-group">
  			<h3>Superaltives</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'JJS' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
  		</ul>
  		
  	</div>
  </div>
   <ul>
   	<li class="inline">
	<ul class="list-group">
	  	 
       </ul>
     </li>
     <li class="inline">
       <ul class="list-group">
	  	
       </ul>
      </li>
      <li class="inline">
        <ul class="list-group">
	  	 
       </ul>
      </li>
     </ul>
        
	          
{% endblock %}