{% extends 'layout.html' %}

{% block content %}

	<ul class="list-group">
	  	 <h3>Adverbs</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'RB' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
       <ul class="list-group">
	  	 <h3>Comparatives</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'RBR' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        <ul class="list-group">
	  	 <h3>Superaltives</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'RBS' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
       </ul>
        

{% endblock %}