{% extends 'layout.html' %}

{% block content %}
  <div class="jumbotron text-center">
 	<h3>A List of Determiners in a post</h3>
 </div>
   <div class="row">
   	<div class="col-sm-3">
   		<ul class="list-group">
   			<h3>Articles</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'DT' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
   		</ul>
   		
   	</div>
   	<div class="col-sm-3">
   		<ul class="list-group">
   			<h3>Possessive Pronouns</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'PRP$' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
   		</ul>
   	</div>
   		<div class="col-sm-3">
   		<ul class="list-group">
   			 <h3>Predeterminers</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'PDT' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
   		</ul>
   		
   	</div>
   		<div class="col-sm-3">
   		<ul class="list-group">
   			 <h3>Wh-Determiners</h3>
	     {% for w in tagged %}
	         {% if w[1] == 'WDT' %}
	         <li class="list-group-item">{{ w[0] }}</li>
	         {% endif %}
	     {% endfor %}
   		</ul>
   		
   	</div>
   </div>
   
	          
{% endblock %}